@using Csandra.Comics.App.wasm.Data
@inject NavigationManager UriHelper
@inject SessionService session
<div id="nav"
	class="col-xs-3 bg-dark text-white py-5 k-vbox @( !collapseNavMenu ? "expand" : "" )">
	<span id="nav-toggle" class="nav-toggle d-md-none" @onclick="@ToggleNavMenu">
		<span class="k-icon k-i-hamburger"></span>
	</span>
	<h1 id="app-title"><img src="assets/logo.svg"></h1>
	<p id="app-subtitle">Csandra Stores</p>
	<hr />
	
	<p class="h4 mt-5">Comics</p>
	@if(!session.IsLoggedIn){
	<ul class="nav nav-pills flex-column">
		<li class="nav-item" id="dashbaord">
			<NavLink class="@(IsAtRoot() ? "nav-link active" : "nav-link")" style="background:transparent" href="signin">Start</NavLink>
		</li>
	</ul>
	}
	<ul class="nav nav-pills flex-column">
		<li class="nav-item" id="dashbaord">
			<NavLink class="@(IsAtRoot() ? "nav-link active" : "nav-link")" style="@(session.IsLoggedIn?"":"background:transparent")" href="@(session.IsLoggedIn?"":"issues")">Issues</NavLink>
		</li>
	</ul>
	<p class="h4 mt-5">Account</p>
	<ul class="nav nav-pills flex-column">
		@if(session.IsLoggedIn){
		<li class="nav-item" id="signin">
			<NavLink class="nav-link" style="background:transparent" href="" @onclick=session.SignOut onclick-prevent-default="true">Sign Out</NavLink>
		</li>
		}
		else{
		<li class="nav-item" id="signin">
			<NavLink class="nav-link"  href="" @onclick=session.SignIn onclick-prevent-default="true">Sign In</NavLink>
		</li>
		}
	</ul>
	
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    bool IsAtRoot()
	{
		string currUrl = UriHelper.Uri;
		if (currUrl.EndsWith("/"))
		{
			return true;
		}
		return false;
	}

	protected override void OnInitialized()
	{
		UriHelper.LocationChanged += OnLocationChanges;
	}

	private void OnLocationChanges(object sender, LocationChangedEventArgs args)
	{
		collapseNavMenu = false;
		StateHasChanged();
	}

	
}
